<template>
  <div>
    <Header />

    <section class="product-shop spad page-details">
      <div class="container">
        <div class="row">
          <!-- {{ keranjangUsers }} -->
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-6">
                <div class="product-pic-zoom">
                  <img class="product-big-img" :src="gambar_default" alt="" />
                </div>
                <div class="product-thumbs">
                  <VueSlickCarousel class="product-thumbs-track ps-slider" v-if="productDetail.galleries.length > 0">
                    <Slide :key="slide">
                      <div class="carousel__item" v-for="ss in productDetail.galleries" :key="ss.id">
                        <div class="pt" @click="changeImage(ss.url)" :class="ss.url==gambar_default ? 'active' : '' ">
                          <img class="poto" :src="ss.url" alt="" />
                        </div>
                      </div>
                      
                    </Slide>

                    <template #addons>
                      <Navigation />
                      <!-- <Pagination /> -->
                    </template>
                  </VueSlickCarousel>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="product-details">
                  <div class="pd-title">
                    <span>{{ productDetail.category.name }}</span>
                    <h3>{{ productDetail.name }}</h3>
                  </div>
                  <div class="pd-desc">
                    <!-- <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Corporis, error officia. Rem aperiam laborum voluptatum
                      vel, pariatur modi hic provident eum iure natus quos non a
                      sequi, id accusantium! Autem.
                    </p> -->
                    <p>
                      {{ productDetail.description }}
                    </p>
                    <h6>Stok Tersedia : {{ productDetail.qty }} pcs</h6><br>
                    <h4>${{ productDetail.price }}</h4>
                  </div>
                  
                  <button class="btn btn-md">
                    <i class="fa fa-minus" aria-hidden="true"></i>
                  </button>
                  <div class="quantity">
                    <nuxt-link @click="saveKeranjang(productDetail.id, productDetail.name, productDetail.price, productDetail.galleries[0].url,productDetail.qty)" href="#" class="primary-btn pd-cart"
                      >Add To Cart</nuxt-link
                    >

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <RelateProduct />

    <Footers />
  </div>
</template>

<script>
// @ is an alias to /src

import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// optional style for arrows & dots
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
import {mapState,mapMutations,mapActions,mapGetters} from "vuex"

export default {
  name: "Product",
  components: {
      VueSlickCarousel

  },
  data() {
    return {
        // untuk set gambar default di product
      gambar_default: this.productDetail.galleries[0].url,
      photo : [
          "/img/mickey1.jpg",
          "/img/mickey2.jpg",
          "/img/mickey3.jpg",
          "/img/mickey4.jpg",
      ],
      // keranjangUser: []
    };
  },
  props: {
    productDetail: Array,
    
  },
  methods: {
      changeImage(srcImg){
          this.gambar_default = srcImg;
      },
       ...mapActions({
        save : 'cart/addkeranjangUser'
      }),
      saveKeranjang(idProduct, nameProduct, priceProduct, photoProduct, stok_qty) {
        if (stok_qty==0) {
          alert('Stok barang ini kosong');
        }
        let keranjangUser = [];
        if (this.keranjangUsers.length > 0) {
          keranjangUser = this.keranjangUsers;
          // console.log(111222);
          console.log(keranjangUser);
        }
        // cari apakah sudah ada item itu di vuex data 
        let index_data = this.keranjangUsers.findIndex(item => item.id == idProduct);
        console.log(index_data);
        // jika sudah ada item malka hanya qty akan nambah
        if (index_data >= 0) {

           let qty = keranjangUser[index_data].qty;
           keranjangUser[index_data].qty = qty+1;

        }else{
          var productStored = {
            "id": idProduct,
            "name": nameProduct,
            "qty": 1,
            "price": priceProduct,
            "photo": photoProduct
          }
          // console.log(keranjangUser);
          // push data ke vuex
          keranjangUser.push(productStored);
        }
        let parsed = keranjangUser;
        console.log(keranjangUser);
        this.save(parsed)
      }
      // setDataPicture(data) {
      //   // replace object productDetails dengan data dari API
      //   this.productDetails = data;
      //   // replace value gambar default dengan data dari API (galleries)
      //   this.gambar_default = data.galleries[0].url;
      // },

    },
  mounted() {
      // menyimpan data ke local storage html(client side)
      // if (this.$store.state.keranjangUser.length > 0) {
      //     try {
      //       this.keranjangUser = JSON.parse(this.$store.state.keranjangUser);
      //     } catch(e) {
      //       localStorage.removeItem('keranjangUser');
      //     }
      // }
    },
    computed: {
      ...mapState({
            count : state => state.cart.count,
            keranjangUsers : state => state.cart.keranjangUser
      }),
      totalHarga(){
          return this.keranjangUsers.reduce(function(items,data){
              return items + data.qty*data.price
          },0)
      }
  },
};
</script>

<style scoped>
.product-thumbs .pt {
  margin: 10px;
}
.poto {
  width: 100%;
  height: 20%;
}
</style>