<template>

    <section class="women-banner spad">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 mt-5" v-if="product.length > 0">
                        <VueSlickCarousel  v-bind="setting_carousel">
                            
                                <div v-for="products in product" :key="products.id"> 
                                    <div class="product-item">
                                        <div class="pi-pic">
                                            <img :src="products.galleries[0].url" alt="" />
                                            <ul>
                                                <li class="w-icon active">
                                                    <a href="#"><i class="icon_bag_alt"></i></a>
                                                </li>
                                                <li class="quick-view"><nuxt-link :to="{ name: 'product-id', params: { id: products.id }}">+ Quick View</nuxt-link></li>
                                            </ul>
                                        </div>
                                        <div class="pi-text">
                                            <div class="catagory-name">{{ products.category.name }}</div>
                                            <a href="#">
                                                <h5>{{ products.name }}</h5>
                                            </a>
                                            <div class="product-price">
                                                ${{ products.price }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div v-for="products in product" :key="products.id"> 
                                    <div class="product-item">
                                        <div class="pi-pic">
                                            <img :src="products.galleries[0].url" alt="" />
                                            <ul>
                                                <li class="w-icon active">
                                                    <a href="#"><i class="icon_bag_alt"></i></a>
                                                </li>
                                                <li class="quick-view"><nuxt-link :to="{ name: 'product-id', params: { id: products.id }}">+ Quick View</nuxt-link></li>
                                            </ul>
                                        </div>
                                        <div class="pi-text">
                                            <div class="catagory-name">{{ products.category.name }}</div>
                                            <a href="#">
                                                <h5>{{ products.name }}</h5>
                                            </a>
                                            <div class="product-price">
                                                ${{ products.price }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                        </VueSlickCarousel>
                        
                            
                    </div>
                </div>
            </div>
            
    </section>
  
</template>

<script>
// @ is an alias to /src
// // import HelloWorld from '@/components/HelloWorld.vue'
// import { nuxt-link } from '@inertiajs/inertia-vue3'
// import { Carousel, Slide, Pagination, Navigation } from 'vue3-carousel';
import VueSlickCarousel from 'vue-slick-carousel'
  import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// optional style for arrows & dots
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'
// import 'vue3-carousel/dist/carousel.css';

export default {
  name: 'Bannerhome',
  components: {
    // nuxt-link,
    VueSlickCarousel
  },
  data() {
    return { 
        // untuk set gambar default di product
      photo : [],
      setting_carousel :{
        "dots": true,
        "arrow": true,
        "focusOnSelect": true,
        "infinite": true,
        "speed": 1000,
        "slidesToShow": 3,
        "slidesToScroll": 3,
        "touchThreshold": 5,
        "autoplay": true,
        // "speed": 000,
        "autoplaySpeed": 3000,
      }
    };
  },
  props:{
      product :Array,

  },
  // computed: {
  //     ...mapState({
  //           count : state => state.cart.count,
  //           product : state => state.product.productItems
  //     })
  // },
}
</script>


<style scoped>
.carousel__item {
  min-height: 400px;
  width: 100%;
  background-color: var(--vc-clr-primary);
  color:  var(--vc-clr-white);
  font-size: 20px;

  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__slide {
  padding: 10px;
}

.carousel__prev,
.carousel__next {
  box-sizing: content-box;
  border: 5px solid white;
}
.product-item{
  margin: 10px;
}
</style>