<template>

  <div class="Header">
    <div class="container">
         <nav class="navbar navbar-expand-lg navbar-light">
               
            <a class="navbar-brand" href="#">
                  <img
                    src="/Logo.svg"
                    alt="logo"
                    style="height: 70px; width: 70px"
                  />
            </a>
           
            <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse navbar-light" id="navbarSupportedContent" >
              <ul class="navbar-nav mr-auto" >
                <li class="nav-item active">
                  <a class="nav-a" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-a" href="#">a</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-a dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-a disabled" href="#">Disabled</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
            
            <div class="inner-header" style="margin:30px;">
              <div class="row">
                <div class="col-lg-3 text-right col-md-3">
                  <ul class="nav-right">
                    <li class="cart-icon">
                      <!-- Keranjang Belanja &nbsp; -->
                      <a href="#">
                        <i class="fa fa-shopping-cart" style="font-size:30px;color:black"></i>
                        <span>{{ keranjangUsers.length }}</span>
                      </a>
                      <div class="cart-hover">
                        <div class="select-items">
                          <table>
                            <tbody v-if="keranjangUsers.length > 0">
                              <tr
                                v-for="keranjang in keranjangUsers"
                                :key="keranjang.id"
                              >
                                <td class="si-pic">
                                  <img
                                    class="photo-item"
                                    :src="keranjang.photo"
                                    alt
                                  />
                                </td>
                                <td class="si-text">
                                  <div class="product-selected">
                                    <p>${{ keranjang.price }} x {{ keranjang.qty }}</p>
                                    <h6>{{ keranjang.name }}</h6>
                                  </div>
                                </td>
                                <td
                                  @click="removeItem(keranjangUsers.id)"
                                  class="si-close"
                                >
                                  <i class="ti-close"></i>
                                </td>
                              </tr>
                            </tbody>
                            <tbody v-else>
                              <tr>
                                <td>Keranjang kosong</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                        <div class="select-total">
                          <span>total:</span>
                          <h5>${{ totalHarga }}</h5>
                        </div>
                        <div class="select-button">
                          <nuxt-link to="/cart" class="primary-btn view-card">VIEW CARD</nuxt-link>
                          <a href="#" class="primary-btn checkout-btn">CHECK OUT</a>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <a href="#" title="Account"><i class="fa fa-user" style="font-size:30px;color:black"></i></a>    
          </nav>
    </div> 
  </div>
</template>

<script>
// @ is an alias to /                                                                                                        
// // import HelloWorld from '@/components/HelloWorld.vue'

import {mapState,mapMutations,mapActions,mapGetters} from "vuex"

export default {
  name: "Header",
  data() {
    return {
      
      keranjangUser: [],

      showingNavigationDropdown: false,
    }
  },
  methods: {
    removeItem(id) {
      //cari index dari keranjang yg memuat keranjang.id item yg dipilih
      let index = this.keranjangUsers.findIndex(function (item) {
                  return item.id == id
      });
      this.keranjangUsers.splice(index,1);
      // save kembali data terbaru ke vuex
      const parsed = this.keranjangUsers;

      this.save(parsed)

    },
    handleResize() {
            this.window.width = window.innerWidth;
            this.window.height = window.innerHeight;
    },
    //method action vuex ubtuk save keranjang
    ...mapActions({
      save : 'cart/addkeranjangUser'
    })
  },
  mounted() {
    // this.keranjangUser = this.$store.state.cart.keranjangUser 
    // console.log(this.keranjangUser);
      // ...mapGetters({
      //       count : state => state.cart.count,
      //       keranjangUser : state => state.cart.keranjangUser
      // }),
    // this.$store.dispatch("getCartItems");
    // if (this.$store.state.keranjangUser.length > 0) {
    //   try {
    //     this.keranjangUser = JSON.parse(this.$store.state.keranjangUser);
    //   } catch (e) {
    //     localStorage.removeItem("keranjangUser");
    //   }
    // }
  },
  // fungsi computed sudah auto jalan tanpa ada event onclick atau semacamnya
  computed: {
       ...mapState({
          count: (state) => state.cart.count,
          keranjangUsers: (state) => state.cart.keranjangUser,
        }),
      // ...mapGetters({
      //   totalHarga : 'cart/cartTotal'

      // }),
      totalHarga(){
          return this.keranjangUsers.reduce(function(items,data){
              return items + data.qty*data.price
          },0)
      }
  },

};
</script>
<style scoped>
.photo-item {
  width: 80px;
  height: 80px;
}
</style>
