<template>
    <section class="hero-section">
            <VueSlickCarousel>
      
                  <div class="carousel__item single-hero-items set-bg" style="background-image: url('/img/hero-1.jpg')">
                     
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-5">
                                    <span>Bag,kids</span>
                                    <h1>Black friday</h1>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                    </p>
                                    <a href="#" class="primary-btn">Shop Now</a>
                                </div>
                            </div>
                        </div>
                     
                  </div>
                
            </VueSlickCarousel>
    </section>
</template>

<script>
// @ is an alias to /src
// // import HelloWorld from '@/components/HelloWorld.vue'
import VueSlickCarousel from 'vue-slick-carousel'
// optional style for arrows & dots
  import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
  name: 'Herohome',
  components: {
    VueSlickCarousel
  },
  data() {
    return {
        // untuk set gambar default di product
      setting_carousel :{
        "arrows": false,
        "dots": true,
        "infinite": true,
        "slidesToShow": 3,
        "slidesToScroll": 1,
        "autoplay": true,
        // "speed": 2000,
        "autoplaySpeed": 5000,
        "cssEase": "linear"
      }
    };
  },
}
</script>
<style scoped>
.carousel__item {
  min-height: 400px;
  width: 100%;
  background-color: var(--vc-clr-primary);
  color:  var(--vc-clr-white);
  font-size: 20px;

  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__slide {
  padding: 10px;
}

.carousel__prev,
.carousel__next {
  box-sizing: content-box;
  border: 5px solid white;
}
</style>