<template>
    <div class="partner-logo">
        <div class="container">
            <VueSlickCarousel class="logo-carousel">
             
                    <div class="logo-item">
                        <div class="tablecell-inner">
                            <img src="/img/logo-carousel/logo-1.png" alt="" />
                        </div>
                    </div>
                    <div class="logo-item">
                        <div class="tablecell-inner">
                            <img src="/img/logo-carousel/logo-2.png" alt="" />
                        </div>
                    </div>
                    <div class="logo-item">
                        <div class="tablecell-inner">
                            <img src="/img/logo-carousel/logo-3.png" alt="" />
                        </div>
                    </div>
                    <div class="logo-item">
                        <div class="tablecell-inner">
                            <img src="/img/logo-carousel/logo-4.png" alt="" />
                        </div>
                    </div>
                    <div class="logo-item">
                        <div class="tablecell-inner">
                            <img src="img/logo-carousel/logo-5.png" alt="" />
                        </div>
                    </div>
               
            </VueSlickCarousel>
        </div>
    </div>
</template>

<script>
// @ is an alias to /src
// // import HelloWorld from '@/components/HelloWorld.vue'
import VueSlickCarousel from 'vue-slick-carousel'
// optional style for arrows & dots
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
  name: 'LogoPartner',
  components: {
        VueSlickCarousel

    // HelloWorld
  }
}
</script>
<style scoped>
/* .logo{
    width: 50px;
    height: 50px;
} */
</style>