<template>
    <div>
        <Header/>
        {{count}}
        {{ product }}
        <button @click="increment">aa</button>

        <Herohome />
        <!-- Hero Section End -->

         <!-- Women Banner Section Begin -->
        <Bannerhome v-bind:product="product" />

        <Insta/>

        <LogoPartner/>

        <Footers/>

    </div>  

</template>

<script>
// @ is an alias to /src
import Header from '@/Components/Header.vue'
import Footers from '@/Components/Footers.vue'
import {mapState,mapMutations,mapActions,mapGetters} from "vuex"    
import axios from "axios";

export default {
  name: 'Home',
  components: {
    Header,
    Footers

  },
  data() {
    return {
        token: '5|sRyGwvE6RBrvaZxadiUPswgnT2hkjbQuxwFlEilu',
        config : {
            headers: { Authorization: `Bearer 5|sRyGwvE6RBrvaZxadiUPswgnT2hkjbQuxwFlEilu` }
        },
        data : [],
      // count : '',
    }
  },
  props: {
    // data: Array
    
  },
  methods: {
        ...mapMutations({
            increment : 'cart/increment'

        }),
        // increment(){
        //     alert('111');
        // // get mutation
        //     this.$store.commit("increment")
        //     this.count = this.$store.state.count
        //     console.log(this.count)
        
        // }
  },
  computed: {
      ...mapState({
            count : state => state.cart.counter,
            product : state => state.product.productItems,
      })
  },
  mounted(){
      
    //   axios
    //     .get("http://localhost:8000/api/user" ,this.config)
    //     .then((res) => (this.data = res.data))
    //     // eslint-disable-next-line no-console
    //     .catch((err) => console.log(err));
    //     console.log(this.data);
    this.$store.dispatch('product/getProductItems')
      // axios
      //   .get("http://localhost:8000/api/products",this.config)
      //   .then((res) => (this.product = res.data.data.data))
      //   // eslint-disable-next-line no-console
      //   .catch((err) => console.log(err));
      //   console.log(this.product);
    
    // this.$s
  }
}
</script>

<style scoped>

</style>